.cardWrapper{
  border: 1px solid var(--color-border);
  border-radius: 8px;
  position: relative;
  transition: transform 200ms ease-in-out;
  overflow: hidden;
  max-width: 400px;
}

.cardWrapper:hover{
  transform: scale(1.02);
}

.cardImage{
  margin: 0.5rem auto;
  height: 350px;
  overflow: hidden;
  width: 95%;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

.cardImage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.cardBody{
  padding: 0 1rem 1rem;
  position: relative;
}

.cardBody > *{
  margin-block: 1rem;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardIcon{
  font-size: 1.5rem;
}

.cardButton{
  background-color: var(--btn-color);
  border: 1px solid var(--color-border);
  padding: 0.7rem;
  bottom: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
}

.cardButton:hover{
  background-color: var(--btn-hover);
}

.cardTitle{
  letter-spacing: 1.5px;
  font-size: 1.3rem;
}

.price{
  color: gray;
}

.linkCard{
  display: block;
  color: var(--color-text);
  font-weight: 600;
  padding-bottom: 3.5rem;
}

.cardPrice{
  color: var(--gray);
  font-size: 0.9rem;
  display: block;
  min-width: 80px;
  text-align: end;
}

@media screen and (max-width: 1200px){
  .cardWrapper{
    max-width: unset;
    margin-block: 1rem;
  }
}

@media screen and (max-width: 600px){
  .cardWrapper{
    margin-block: 3rem;
  }
}