.form{
  width: 100%;
  line-height: 0;
  display: flex;
  font-size: 1rem;
  margin-inline: 1rem;
}

.btnForm{
  background-color: var(--btn-color);
  font-size: 1.3rem;
  color: var(--color-text);
  border: none;
  padding: 0.5rem 1rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  border: 1px solid var(--gray);
}

.btnForm:hover{
  background-color: var(--btn-hover);
}

.formInput{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 39px;
  width: 100%;
  border: 1px solid var(--gray);
  padding-left: 1rem;
}

.formInput::placeholder{
  color: var(--gray);
  font-size: 0.8rem;
}

.errorMessage{
  margin-block: 2rem;
}

@media screen and (max-width: 650px){
  .form{
    width: 100%;
    grid-area: 1 / 3 / span 1 / span 7;
    margin-inline: 0;
  }
}