.wrappeShopList{
  width: 90%;
  margin: 0 auto;
}

.wrappeShopList h2{
  margin-bottom: 1rem;
  position: relative;
  width: fit-content;
}

.wrappeShopList h2::after{
  content: '';
  height: 20px;
  width: 100px;
  position: absolute;
  background-color: var(--title-deco);
  right: -10%;
  top: 40%;
  z-index: -1;
}


.containerProducts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: 2rem;
  margin-block: 2rem;
}

@media screen and (max-width: 1250px){
  .containerProducts{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 913px){
  .containerProducts{
    grid-template-columns: 1fr;
  }
}
